* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 50px;
}

.container-fluit {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sección dos */
.second-section {
    background-image: url('../assets/images/taxi.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.main-item {
    background-color: #f7b617;
    color: #fff;
    padding: 4rem;
    font-size: 2em;
    clear: both;
}

.download-app {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    color: #333;
    font-size: 16px;
}

/* Tercera section  */
.third-section {
    background-color: #f7b617;
    color: #ffff;
    font-size: 1.5em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    text-align: center;
}

.iphone {
    border: 1px solid #fff;
    padding: 5rem;
    text-align: justify;
    clear: both;
    display: table;
}

/* Cuarta sección */

.fourth-section {
    background-image: url('../assets/images/conduce.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.registry {
    background: rgba(0, 0, 0, 0.6);
    padding: 5rem 0;
    color: #fff;
    clear: both;
    display: table;
}

.new-conductor {
    background-color: #f7b617;
    padding: 10px;
    border-radius: 15px;
    color: #ffff;
}

/* Quinta sección */
.five-section {
    background-color: #f7b617;
    color: #ffff;
    line-height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.five-section .rates {
    padding: 5rem;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.location {
    background-color: transparent;
    padding: 10px;
    border: 1px solid #ffff;
    border-radius: 15px;
    color: #ffff; 
}

.rates .route {
    width: 10em;  
    font-size: 1em;
    border-radius: 5px;
    align-self: center;
}

.rates, span, img {
    margin-right: 1em;
}

.route:hover {
    color: 0, 0, 0, 123;
}

.gps-maps img {
    padding: 5rem;
    width: 100%;
    height: auto;
}

.pie-pagina {
    background-color: #2f3943;
    color: #ffff;
}

.pie-pagina .log-hidden {
    margin: 8px;
}
.pie-pagina ul {
    list-style: none;
}
.pie-pagina, li, a {
    text-decoration: none;
    color: #ffff;
}

.letter-footer {
    padding: 8px;
}