* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
}

/* Sección dos */
.second-section {
    background-image: url('../assets/images/taxi.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.main-item {
    background-color: #f7b617;
    color: #fff;
    padding: 4rem;
    font-size: 3em;
    clear: both;
}

.download-app {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    color: #333;
}

/* Tercera section  */
.third-section {
    background-color: #f7b617;
    color: #ffff;
    font-size: 1.5em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    text-align: center;
}

.iphone {
    border: 1px solid #fff;
    padding: 5rem;
    text-align: justify;
    clear: both;
    display: table;
}

/* Cuarta sección */

.fourth-section {
    background-image: url('../assets/images/conduce.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.registry {
    background: rgba(0, 0, 0, 0.6);
    padding: 5rem 0;
    color: #fff;
    clear: both;
    display: table;
}

.new-conductor {
    background-color: #f7b617;
    padding: 10px;
    border-radius: 15px;
    color: #ffff;
}